.wrapper {
    width: $wrapper-width;
    max-width: 95%;
    margin: 0 auto;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}
.display-none {
    display: none;
}

.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.no-click {
    pointer-events: none;
}
.no-wrap {
    white-space: nowrap;
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}

@media (max-width: 768px) {
    .mobile-reverse {
        flex-flow: column-reverse;
    }
}

$max: 100;
$step: 5;
@for $i from 1 through (ceil($max/$step) + $step) {
    $value: ($i - 1) * $step;
    .m-#{$value} {
        margin: #{$value}px;
    }
    .m-t-#{$value} {
        margin-top: #{$value}px;
    }
    .m-r-#{$value} {
        margin-right: #{$value}px;
    }
    .m-b-#{$value} {
        margin-bottom: #{$value}px;
    }
    .m-l-#{$value} {
        margin-left: #{$value}px;
    }
    .p-#{$value} {
        padding: #{$value}px;
    }
    .p-t-#{$value} {
        padding-top: #{$value}px;
    }
    .p-r-#{$value} {
        padding-right: #{$value}px;
    }
    .p-b-#{$value} {
        padding-bottom: #{$value}px;
    }
    .p-l-#{$value} {
        padding-left: #{$value}px;
    }
}

.absolute-top-left {
    top: 0;
    left: 0;
}

.width100 {
    width: 100%;
}

.full-cover {
    width: 100%;
    height: 100%;
}

.borderRed {
    border: 2px solid red;
}

.borderGreen {
    border: 2px solid green;
}
