.author-and-medical-review{
    &--mobile{
       @include desktop{
           display: none;
       }
        &--editor{
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
    &--desktop{
        @include mobile-and-tablet{
            display: none;
        }
    }
}