.author-and-medical-review {
    background-color: $navColor;
    &--mobile {
        @include desktop {
            display: none;
        }
        &--author,
        &--medical-reviewer {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
    &--desktop {
        @include mobile-and-tablet {
            display: none;
        }
        &--author,
        &--medical-reviewer {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
}
