.center_location {
    iframe {
        width: 100% !important;
        height: 250px !important;
    }

    a {
        padding: 20px;
        background-color: $secondaryColor;
        text-decoration: none;
        color: #fff;
        &:hover {
            background-color: $tertiaryColor;
        }
    }
}
